prefix={{ prefix }}
exec_prefix={{ exec_prefix }}
libdir={{ libdir }}
includedir={{ includedir }}

Name: libiconv
Description: TODO
URL: TODO
Version: {{ VERSION }}
Requires:
Libs: -L${libdir} -liconv -lcharset
Cflags: -I${includedir}
